<div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">
          <span data-feather="home" class="align-text-bottom"></span>
          Dashboard
        </a>
      </li>
      <div id="t_progress"></div>
      
      {% comment %} <li class="nav-item">
        <a class="nav-link" href="/">
          <span data-feather="file" class="align-text-bottom"></span>
          Orders
        </a>
      </li> {% endcomment %}
    </ul>
  </div>